<% include ../includes/header %>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" href="/">Picdorsey Christmas</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="admin/add">Add new Admin</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

</nav>

<div class="page-header">
    <h1>Administrator Panel</h1>
</div>

<%  if(wishes.length == 0) { %>
        <p>No wishes</p>
<%  } 
    else { %>
        <div class="table-responsive">
            <table class="table table-hover" id="wish-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>ip</th>
                        <th>Wish</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = (wishes.length - 1); i >= 0; i--) {%>
                        <tr <% if(!wishes[i].visible) { %>class="deleted" <% } %>>
                            <td><%= i + 1 %></td>
                            <td><%= wishes[i].name %></td>
                            <td><%= wishes[i].email %></td>
                            <td><%= wishes[i].ip %></td>
                            <td class="row-message"><%= wishes[i].message %></td>
                            <td>
                                <a type="button" class="btn btn-default" title="edit" data-id="<%= wishes[i]._id%>">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a type="button" class="btn btn-default remove-wish" title="delete" data-id="<%= wishes[i]._id%>">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
<%  } %>

<% include ../includes/admin-footer %>